<!doctype html>
<html lang="en">


  <head>
    <style>
      body{
      background-color : aqua;
      }
    </style>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FEEDS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <h1><center>..Check your feeds here...<br><br></center></h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<center>
<div class="container" >
            {% for p in post %}
            <center>
                       
              <div class="card mb-3" style="max-width: 700px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="/media/{{p.image}}" style=" width: 100%; height: 15vw; object-fit: cover;">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{p.title}}</h5>
                          <p class="card-text">{{p.content |truncatewords:15| safe}}</p>
                      </div>
                      <a href="/blog/{{p.url}}" class="btn btn-primary">READ</a>
                    </div>
              </div>
              
             </center>
            {% endfor %}

  </div>
  </center>

</div>    

</body>
</html>